[user]
	name = Dick Olsson
	username = dickolsson
	email = hi@senzilla.io
	signingkey = 8204A8CD

[sendemail]
	smtpencryption = tls
	smtpserver = 127.0.0.1
	smtpserverport = 1143
	smtpsslcertpath = /usr/local/share/ca-certificates/protonmail-bridge.pam
	smtpuser = hi@senzilla.io
